@{
    ViewBag.Title = "Home Page";
}
<!-- One -->
<section id="one" class="wrapper post bg-img" data-bg="slika2.jpg">
    <div class="inner">
        <article class="box">
            <header>
                <h2>Četinari</h2>
                <p>Prodaja četinara i savetovanje u vezi sa sadnjom </p>
            </header>
            <div class="content">
                <p>
                    Veliki izbor sadnica četinara (u saksiji ili sa busenom) za vaše dvorište, žardinjere, terase,  visokog kvaliteta. Rasadnik  nudi opciju slanja biljaka ekspres kurirom, te tako bez predhodnog
                    prijavljivanja možete poručiti četinare iz naše ponude jednostavno lako i brzo. Cena četinara iz naše ponude je bez troškova dostave koji zavise od težine paketa.
                    <br />
                    Ukoliko vam je potrebno savetovanje u vezi sa sadnjom ili planiranje, projektovanje vaše zelene površine,pročitajte više i  obratite se našem timu pejzažnih arhitekata.
                </p>
            </div>
            <footer>
                <a href="http://rasadnikcveca.rs/projektovanje/" class="button alt">Pročitaj više</a>
            </footer>
        </article>
    </div>
    <a href="#two" class="more">Pročitaj više</a>
</section>

<!-- Two -->
<section id="two" class="wrapper post bg-img" data-bg="slika3.jpg">
    <div class="inner">
        <article class="box">
            <header>
                <h2>Cveće</h2>
            </header>
            <div class="content">
                <p>
                    Široka ponuda cveća prema uslovima nudi cveće koje egzistira u različitim sredinama
                    Vrhunsko saksijsko cveće za baštu, terasu, balkon, žardinjeru. Prodaja višegodišnjeg kao i
                    jednogodišnjeg cveća, uz širok izbor boja.Pročitajte više i saznajte šta nudimo.
            </div>
            <footer>
                <a href="https://rasadnikcveca.rs/rasadnik-beograd/rasadnik-cveca/" class="button alt">Pročitaj više</a>
            </footer>
        </article>
    </div>
    <a href="#three" class="more">Pročitaj više</a>
</section>
<!-- Three -->
<section id="three" class="wrapper post bg-img" data-bg="slika4.jpg">
    <div class="inner">
        <article class="box">
            <header>
                <h2>Novogodišnje jelke</h2>
                <p>Teško je zamisliti novu godinu bez mirisa četinara koji se širi toplim domom. </p>
            </header>
            <div class="content">
                <p>
                    Novogodišnji četinari visokog su kvaliteta, jer se sam proces proizvodnje obavlja postupno u rasadniku.  Pravilnom negom oni mogu opstati i posle praznika,
                    te svojim karakteristikama doprinositi dalje vašoj okolini i životnoj sredini
                    <br />
                    Prirodne jelke za novu godinu dostupne su odmah u našem rasadniku.
</div>
            <footer>
                <a href="http://rasadnikcveca.rs/rasadnik-beograd/cetinari/novogodisnje-jelke-beograd/" class="button alt">Pogledaj ponudu</a>
            </footer>
        </article>
    </div>
    <a href="#four" class="more">Pročitaj više</a>
</section>
